.post{
    color:seagreen;
    display: flex;  
    padding-left: 15px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.table1 tr td{ 
    border-top: 15px solid #f7f7f7;
    overflow: scroll;

}
td{
    border: 15px solid  #f7f7f7;
    border-radius: 5px;

}
.post2 h2{
    text-align: center;
    font-size: 44px;

}
.post2 p {
text-align: left;
padding-top: 20px;
margin-left: 20px;
font-size: 22px;
    
}
.container2 {
    margin-left: 340px;
    
}
.all-items{
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;

    
    
    

}

 .item2{
     display: flex;
     padding:55px;
     padding-bottom: 0px;
     padding-right: 160px;

 }


 .all-items a{
    
    margin-bottom: 10px;

}
.quote:hover{
    background: #f7f7f7;
    color:black;
    cursor:pointer;

}



.nav-items a{
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;

}
.all-items a:hover{
    border-bottom: 1px solid black ;

}







 .all-items a{
    font-size: 25px;
    text-decoration: none;
    transition: color 0.5s;
}
a:hover {
    color: black;
  }

.nav-items{
    display: flex;
    padding: 55px;
    padding-bottom: 0px;
    padding-left:150px;


}


.nav-items > div{
    margin-right:20px;
}


.all-body{
    background: #e9e9e9;
    position: absolute;
    border: 20px solid gray;
    border-radius: 5px;

    height:4500px;
    width: 1000px;
    align-content: center;
    margin-left: 150px;
    overflow: scroll;
    overflow: hidden;
    


}
.container p{
    text-align: left;
    padding-left: 20px;
    font-size: 22px;
    padding-top: 22px;

}
body{
    background: white;
    background-image: url("images/12122.jpg");
    background-attachment: fixed;
}

.itemselector label{
    padding: 0px;
    margin-left: 0px;
   
    padding: 55px;

}


#city{
    width: 200px;
}

#expertize{
    width: 200px;
}
#place{
    width: 200px;
}

.table2 {
padding: 20px;
padding-bottom: 45px;
    
}

