.nav-items{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-right: 145px;

}
 
.right-items{
    display:flex;
}
.nav-items > .right-items > div{

    margin-right: 20px;
    font-size: 1.5em;
    
}
/*اینجا برای ایجاد خط زیر متن*/
.right-item1{
    height: 33px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.right-item1:hover{
    border-bottom:1px solid black;


}
/*اینجا برای تغییر رنگ متن*/
.right-item1 a {
    color: #8a8a8a;
    text-decoration: none; 
    transition:color 0.5s;
}

.right-item1 a:hover{
    color: black;
    
}

/* baraye ghesmate chap hamon karaye bala ro tekrar mikonim */

.nav-items > .left-items > div{

    margin-left: 130px;
    font-size: 1.5em;
}

.left-item1{
    height: 33px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.left-item1:hover{
    border-bottom:1px solid black;


}
/*اینجا برای تغییر رنگ متن*/
.left-item1 a {
    color: #8a8a8a;
    text-decoration: none; 
    transition:color 0.5s;
}

.left-item1 a:hover{
    color: black;
    
}

/*az inja all body shoro mishe*/


.post{
    color:seagreen;
    display: flex;  
    padding-left: 15px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.table1 tr td{ 
    border-top: 15px solid #f7f7f7;
    

}
td{
    border: 15px solid  #f7f7f7;
    border-radius: 5px;

}
.post2 h2{
    text-align: center;
    font-size: 44px;

}
.post2 p {
text-align: left;
padding-top: 20px;
margin-left: 20px;
font-size: 22px;
    
}
.container2 {
    margin-left: 340px;
    
}

 .item2{
     display: flex;
     padding:55px;
     padding-bottom: 0px;
     padding-right: 160px;

 }


 .all-items a{
    
    margin-bottom: 10px;

}
.quote:hover{
    background: #f7f7f7;
    color:black;
    cursor:pointer;

}


a:hover {
    color: black;
  }





.all-body{
    background: #fcfcfc;
    border: 20px solid #dbdada;
    height:4500px;
    width: 1090px;
    margin:auto;
    
    


}
.container p{
    text-align: left;
    padding-left: 20px;
    font-size: 22px;
    padding-top: 22px;

}
body{
    background: white;
    background-image: url("images/12122.jpg");
    background-attachment: fixed;
    margin: 0px;
}



.lable {
    display: inline;
    width: 200px;
    
    border: 2px solid black;
    margin: 10px;
    padding-left: 10px;
    
}

.table2 {
margin-left: auto;
margin-right: auto;

margin-bottom: auto;
}
.table3 {
    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 35px;

    }











    /*صفحه ورود*/ 
    
     /*صفحه ورود*/ 